.app {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  justify-content: center;

  .inputPanel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 24px 0 !important;
    label {
      margin: 0 4px 0 0;
    }
    input {
      margin: 0 16px 0 0;
    }
    .inputUrl {
      max-width: 500px;
    }
    .inputSize {
      max-width: 150px;
    }
  }

  .iframe {
    border: 0;
    flex: 1 1 auto;
  } 
}
